.main_bg_color {
  width: 100%;
  background: #ffffff;
  color: #000;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}

.loyalty__section {
  width: 100%;
  background: #e84e0f;
  .loyalty__bx {
    max-width: 1160px;
    margin: 0 auto;
    padding: 68px 0 73px 0;
    position: relative;
    @media (max-width: 1200px) {
      padding: 68px 24px 73px;
    }
    @media (max-width: 768px) {
      padding: 28px 24px 90px;
    }
    .loyalty_hero_img {
      width: 1035.65px;
      height: auto;
      position: absolute;
      top: 71px;
      right: 0;

      @media (max-width: 992px) {
        display: none;
      }
    }

    .loyalty_hero_img_mobile {
      margin-bottom: 27px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    .loyalty_hero_content {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: flex-start;
      gap: 427px;
      margin-bottom: 119px;

      @media (max-width: 992px) {
        flex-wrap: wrap;
        gap: 42px;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .public_logo {
        width: 146.57px;
        height: auto;
      }

      .loyalty_labal {
        width: 202px;
        font-weight: 400;
        font-size: 27.6543px;
        line-height: 36px;
        letter-spacing: 0.01em;
        color: #ffffff;

        @media (max-width: 768px) {
          width: 100%;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
    .loyalty_heading {
      position: relative;
      z-index: 1;
      font-weight: 800;
      font-size: 132.741px;
      line-height: 90%;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-bottom: 42px;

      @media (max-width: 768px) {
        font-size: 81px;
        line-height: 90%;
        margin-bottom: 28px;
      }
    }
    .loyalty_page_links {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 992px) {
        align-items: inherit;
        flex-direction: column;
      }

      .loyalty_pages_cate {
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: #ffffff;
        margin: 0;

        @media (max-width: 992px) {
          text-align: left;
          margin-bottom: 17px;
        }
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: 23px;
        }
      }
      .pages_cat {
        display: flex;
        align-items: center;
        gap: 54px;

        @media (max-width: 992px) {
          flex-direction: column;
          gap: 0;
        }

        .page_def {
          font-weight: 600;
          font-size: 24px;
          line-height: 39px;
          letter-spacing: 0.01em;
          color: #ffffff;
          opacity: 0.3;

          @media (max-width: 992px) {
            padding: 8px 0;
          }

          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 28px;
          }
        }

        .loyalty_page_name {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 272px;
          gap: 16px;
          padding: 35px 33px 38px 31px;
          border-top: 1px solid rgb(255, 255, 255, 0.5);
          border-bottom: 1px solid rgb(255, 255, 255, 0.5);

          @media (max-width: 992px) {
            width: 100%;
            justify-content: center;
            border-top: 1px solid #ef8357;
            border-bottom: 1px solid #ef8357;
            padding: 20px 0;
          }
          @media (max-width: 768px) {
            padding: 17px 0 23px 0;
          }
          .page_name {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #ffffff;
            margin: 0;

            @media (max-width: 768px) {
              font-weight: 800;
              font-size: 16px;
              // padding: 17px 0 23px 0;
              line-height: 28px;
            }
          }
          .right_arrow {
            width: 12px;
            height: 23px;
          }

          .name-two {
            width: 268px;
            opacity: 0.7;
            @media (max-width: 992px) {
              opacity: inherit;
              width: 100%;
            }
          }
        }
        .loyalty_page_name_two {
          width: 372px;
          padding: 22px 14px 27px 0;
          gap: 65px;
          justify-content: space-between;
          @media (max-width: 992px) {
            width: 100%;
            padding: 20px 0;
          }
        }
      }
    }
  }
}
